.search-wrap {
  margin: 2rem;
}

.search-wrap__title {
  margin-top: 1rem;
  align-items: center;
  text-align: center;
}

.search-wrap__logo {
  width: 3rem;
  filter: brightness(10);
  margin-left: 1rem;
  cursor: pointer;
}
