.sidebar {
  width: 0;
  height: 100vh;
  text-align: center;
  border-left: 1px solid var(--light-dark);
  font-size: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  transition: width opacity 0.5s;
}

.sidebar.open {
  display: block;
  width: 30%;
  opacity: 1;
}

.sidebar__title {
  margin-top: 15rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.sidebar__btn-close {
  display: block;
  width: 2rem;
  font-size: 2rem;
  background-color: transparent;
  color: var(--light);
  border: none;
  cursor: pointer;
  margin: 2rem 2rem 0 auto;
  transition: color 0.3s ease;
}

.sidebar__btn-close:hover {
  color: var(--hover);
}

.sidebar__content {
  margin: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: left;
  font-size: 1.3rem;
}

.sidebar__data {
  margin-bottom: 1rem;
}
