h1 {
  text-align: center;
  margin: 0 auto;
}

.hook-form-data,
.uncontrolled-form-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.history {
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}

.title-history {
  text-align: center;
  margin-top: 3rem;
}

table {
  width: 80%;
  border-collapse: collapse;
  background-color: #5b5b5b;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 1rem;
  text-align: left;
}

.new-data {
  animation: highlight 2s;
}

img {
  width: 10rem;
  height: auto;
  padding: 0.3rem;
}

@keyframes highlight {
  from {
    background-color: #fff;
  }
  to {
    background-color: #5b5b5b;
  }
}
