.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20rem 6rem;
  min-height: 100vh;
  font-family: var(--font-primary);
}

.link {
  text-decoration: none;
  font-size: 2rem;
  color: var(--light);
  transition: all .5s;
}

.link:hover {
  color: var(--hover)
}

.logo {
  margin: 3rem 0;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}